/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



#txtField:focused{
     -fx-focus-color : green;
 }
 
.tableView .scroll-bar:horizontal .increment-arrow,
.tableView .scroll-bar:horizontal .decrement-arrow,
.tableView .scroll-bar:horizontal .increment-button,
.tableView .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.tableView .column-header,
.tableView .column-header .filler,
.tableView .column-header-background .filler {   
    -fx-background-color: derive;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.tableView:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.tableView .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
 
	
.pagination{
	-fx-base:black;
}
.pagination .toggle-button , .mypage .button{
	-fx-background-radius:15px;
	-fx-padding: 0px;
}
.pagination .button{
	-fx-padding: 5 15 5 16px;
}
.pagination .label {
	-fx-text-fill:white;
}